.container {
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.filter-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: center;
}

.filter-container p {
  margin: 0 1rem 0;
}

.loading-container {
  text-align: center;
  margin: 1rem 0;
}

footer {
  margin-top: 2rem;
}